<%= content_for :page_title, 'Plaid ACH example' %>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 topspace-lg text-center">
      <h1>
        Stripe ACH Demo
      </h1>
      <h4 class="text-muted">
        Create test ACH payments
      </h4>
      <div class="topspace-lg">
        <%= render 'layouts/messages' %>
        <button class="btn btn-custom btn-lg btn-primary btn-block" id='linkButton'>
          Connect with Plaid
        </button>
      </div>
      <div class="topspace">
        <%= link_to "Enter bank details", new_banks_path, class: "btn btn-custom btn-lg btn-default btn-block" %>
      </div>
      <div class="topspace-lg lato">
        <hr>
        <h4 class="text-muted"><i class="fa fa-info-circle"></i> Plaid test credentials</h4>
        <strong>username:</strong> user_good
        <br>
        <strong>password:</strong> pass_good
      </div>
      <form id="ach_form" method="post" action="/plaid">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      </form>
      <script src="https://cdn.plaid.com/link/stable/link-initialize.js"></script>
      <script>
        var linkHandler = Plaid.create({
          env: 'tartan',
          clientName: 'Stripe / Plaid Test',
          key: 'ae48496f63c8ab8be4c3f272cebd8a',
          product: 'auth',
          selectAccount: true,
          onSuccess: function(public_token, metadata) {
            // Disable the connect button
            $('#linkButton').prop('disabled', true).html("<i class='fa fa-spinner fa-spin'></i> Connecting your account...");
            // Append the public_token and account_id to the form
            $('#ach_form').append($('<input type="hidden" name="public_token" />').val(public_token));
            $('#ach_form').append($('<input type="hidden" name="account_id" />').val(metadata.account_id));

            // Submit the form
            $('#ach_form').submit();
          },
        });

        // Trigger the Link UI
        document.getElementById('linkButton').onclick = function() {
          linkHandler.open();
        };
      </script>
    </div>
  </div>
</div>
