@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Lato:400,300);
html {
  position: relative;
  min-height: 100%;
}
body {
  padding-top: 60px;
  font-family: "Lato";
  font-size: 16px;
  margin-bottom: 120px;
  background-color: #f6f9fc;
}
h1 {
  font-weight: 300;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  padding-top: 20px;
  background-color: #272727;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  a {
    margin-left: 20px;
    color: #fff;
  }
  a:hover {
    text-decoration: none;
    color: #2494be;
  }
}
.lato {
  font-family: "Lato";
  font-weight: 300;
}
.navbar-default {
  background-color: #fff;
  height: 60px;
  img {
    margin-top:10px;
  }
  .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    background-color: #fff;
    color: #000;
  }
}
.icon-lg {
  font-size: 100px;
}
.icon-huge {
  font-size:200px;
}
.topspace {
  margin-top: 10px;
}
.topspace-lg {
  margin-top: 50px;
}
.red {
  color: #B20000;
}
.gray {
  color: #666;
}
.pink {
  color: #D80A84;
}
.blue {
  color: #0080FF;
}
.shadow-tiny {
  webkit-box-shadow: 0 2px 0 rgba(37,46,53,0.06);
  -moz-box-shadow: 0 2px 0 rgba(37,46,53,0.06);
  box-shadow: 0 2px 0 rgba(37,46,53,0.06);
}
.shadow-sm {
  webkit-box-shadow: 2px 2px 2px rgba(37,46,53,0.06);
  -moz-box-shadow: 2px 2px 2px rgba(37,46,53,0.06);
  box-shadow: 2px 2px 2px rgba(37,46,53,0.06);
}
.field_with_errors {
  @extend .has-error !optional;
  display: inline;
}
.highlight {
  background-color: #CCE6FF;
}
/*flash*/
.alert-danger, .alert-error {
  background-color: #ef5350;
  border-color: #eed3d7;
  color: #fff;
  text-align: left;
}
.alert-alert {
  background-color: #ef5350;
  border-color: #eed3d7;
  color: #fff;
  text-align: left;
}
.alert-success {
  background-color: #00b19d;
  border-color: #d6e9c6;
  color: #fff;
  text-align: left;
}
.alert-notice {
  background-color: #00b19d;
  border-color: #d6e9c6;
  color: #fff;
  text-align: left;
}
.alert-danger h2, .alert-error h2 {
  margin-top:0px;
}
.box-shadow {
  -webkit-box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  -moz-box-shadow:    0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  box-shadow:         0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
}
.btn-xl {
  font-size: 30px;
  padding: 15px;
}
.placeholder label {
  display: none !important;
}
.form-control:focus {
  border-color: #939393;
  box-shadow: none;
}
.form-control, .has-error .form-control:focus {
  border-width: 2px;
  box-shadow: none;
}
/* ===========
   Buttons
 =============*/
.btn {
  border-radius: 4px;
  border: none;
  padding: 6px 14px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
  transition: box-shadow .3s;
}
.btn-group-lg > .btn,
.btn-lg {
  padding: 22px !important;
  font-size: 18px;
  text-transform: uppercase;
}
.btn-group-sm > .btn,
.btn-sm {
  padding: 5px 10px !important;
}
.btn-group-xs > .btn,
.btn-xs {
  padding: 1px 5px !important;
}
.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group {
  margin-left: 0px;
}
.btn-group.open .dropdown-toggle {
  -webkit-box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.1) inset;
}
.btn-primary, .btn-primary:hover {
  background: #6772e5;
}
.btn-default, .btn-default:hover {
  background: #ffffff;
  color: #6772e5;
}
.btn:hover {
  webkit-box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1),0 5px 15px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1),0 5px 15px rgba(0, 0, 0, 0.07);
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1),0 5px 15px rgba(0, 0, 0, 0.07);
}
