<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="text-muted">
          <a href="https://stripe.com/docs/ach">View Stripe ACH docs</a>
        </p>
        <p>
          <a href="https://github.com/adam-stripe/example-stripe-ach-rails"><i class="fa fa-github"></i> View source on Github</a>
        </p>
      </div>
    </div>
  </div>
</footer>
