<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="text-muted">
          ACH Example App
        </p>
        <p>
          <a href="https://github.com/adam-stripe/example-stripe-ach-rails">View source on Github</a>
        </p>
      </div>
    </div>
  </div>
</footer>